@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.editList-container {
    margin: 0 auto;
    margin-top: 40px;
    font-family: "Nanum Gothic";
    margin-bottom:50px;
}

th.action, 
td.action {
    text-align : right !important;
}